* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;

}

header {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 45px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    background-color: transparent;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
}

main {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);

    }

  .relogio span {
        background: transparent;
        font-size: 60px;
        font-weight: bolder;
    }

    .relogio div {
        height: 170px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        color: white;
        background-color: rgba(221, 214, 214, 0.9);
        box-shadow: 5px 5px 15px rgba(252, 164, 2, 0.3);
        border-radius: 7px;
        letter-spacing: 3px;

    }

    .relogio span.tempo {
        font-size: 10px;
       }